/* Global Layout */
.container {
    flex: 1;
    display: flex;
    overflow: visible;
    margin-top: var(--menu-bar-height);
    height: calc(100vh - var(--menu-bar-height));
}

.main-content {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary);
    overflow: visible;
}
